html, body{
    background-color:darkgrey;
}

html{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

section{
    padding: 2rem;
    border-radius: 1rem;
}

ul, 
li{
    list-style: none;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center ;
    column-gap: 2rem;
}
